/*----------------------------------------------------------------------------------------------------------------------------------
//
//
//                                                        _____                     
//                                              __      _| ____|_ __ _ __ ___  _ __ 
//                                              \ \ /\ / /  _| | '__| '__/ _ \| '__|
//                                               \ V  V /| |___| |  | | | (_) | |   
//                                                \_/\_/ |_____|_|  |_|  \___/|_|   
//
//
//
// File: 	wError.h
//	
// Lang.:	C
//	
// Abstr.:	Simple class dedicated to the exception managing
//
// Authour:	Silvano Catinella <catinella@yahoo.com>
//
// Description:
//		This module provides you a set of structures you can use to manage your exceptions. In fact they can solve a common
//		C-programming problem about function's exit-codes: the missing information on the exception.
//		In C++, for example, you can always throw an object as exception, and you can fill the object with all needed
//		information. It allows you to manage the exception in better ways.
//		This module allows you to achieve a similar result: it your function returns a wError_t object then you will be able
//		to store in the object all info about the exception (also call-backs) according to the wErrorWith<label> sub modules.
//		
//		+-------+-----------------------------------------------------------------------------+
//		|  Type |                           Description                                       |
//		+-------+-----------------------------------------------------------------------------+
//		|  INFO | Operation executed with success                                             |
//		|WARNING| Operation partially failed, it could be normal but requires attention       |
//		| ERROR | Function exits with a critic error, the required op. has not been performed |
//		+-------+-----------------------------------------------------------------------------+
//
// License:  LGPL ver 3.0
//
// 		This script is a wfree software; you can redistribute it and/or modify it under the terms	of the GNU
// 		Lesser General Public License as published by the Free Software Foundation; either version 3.0 of the License,
// 		or (at your option) any later version. 
//
//		For further details please read the full LGPL text file  "Linuxwoodo/trunk/templates/lgpl-3.0.txt".
// 		You should have received a copy of the GNU General Public License along with this file; 
// 		if not, write to the 
//
//			Free Software Foundation, Inc.,
//			59 Temple Place, Suite 330,
//			Boston, MA  02111-1307  USA
//
//
//
// [!] In order to obtain a clear look of this script, set the following parameters in your editor: cols=132 tab-size=6
----------------------------------------------------------------------------------------------------------------------------------*/

#ifndef __WERROR__

#define __WERROR__
#include <stdint.h>
#include <stdbool.h>

#winclude <wErrorSubmodulesList.x>

typedef uint8_t wError_ecode_t;
typedef uint8_t wError_exception_t;

#define WERROR_JUSTCODE 1


//
// Border settings
//
#define WERROR_LASTINFO     15
#define WERROR_LASTWARNING  127
#define WERROR_LASTERROR    255

typedef struct _we {
	wError_exception_t exceptionType; 
	wError_ecode_t     errorCode;
	union {
		
#winclude <extraFldsFile.x>

	};
} wError_t;


//
// Macros
//
#define WERROR_GETCODE(x)   x.errorCode
#define WERROR_GETTYPE(x)   x.exceptionType
#define WERROR_ISERROR(x)   (x.errorCode == 0 || (x.errorCode > WERROR_LASTWARNING && x.errorCode <= WERROR_LASTERROR))
#define WERROR_ISWARNING(x) (x.errorCode > WERROR_LASTINFO && x.errorCode <= WERROR_LASTWARNING)
#define WERROR_ISSUCCESS(x) (x.errorCode > 0 && x.errorCode <= WERROR_LASTINFO)

#define WERROR_DECLARATION(VAR, TYPE, VALUE) \
	wError_t VAR;                          \
	wError_init(&VAR, TYPE);               \
	VAR.errorCode = VALUE;


// Generic error codes
#define WERROR_ERROR_GENERIC 0
#define WERROR_SUCCESS       1

// WERROR_ERRORDEFS

bool wError_init      (wError_t *obj, wError_exception_t extype);
int  wError_shellCode (wError_t obj);
#endif
